#banner {
    color: #FFFFFF;
    background: #55BE2E;
    text-align: center;
}
#banner:last-child {
    margin-bottom: 0;
}
#banner h2 {
    font-size: 4em;
    line-height: 1.5em;
    margin: 0 0 0.5em 0;
    padding: 0;
}
#banner p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0 auto;
    width: 80%;
}
#banner ul {
    list-style: none;
    margin: 2em;
}
.supported-platform {
    display: block;
    margin: 0 0 2em 0;
}
.supported-platform span {
    color: #FFFFFF;
    background: #1EB1A9;
    border: solid 1px #1EB1A9;
    border-radius: 4px;
    display: block;
    font-weight: bold;
    text-align: center;
    height: 2.75em;
    line-height: 2.75em;
}
.supported-platform.row.flush div span {
    border-radius: 0;
}
.supported-platform.row.flush div > div:first-child span {
    border-radius: 4px 0 0 4px;
}
.supported-platform.row.flush div > div:last-child span {
    border-radius: 0 4px 4px 0;
}
